.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a(href='/').brand= settings.BlogName
      ul.nav
        li
          a(href='/') Home
        li
          a(href='#') About
      form.navbar-search.pull-right
        input(type="text", placeholder="Search").search-query